:root {
  --font-montserrat: "Montserrat", sans-serif;
  --color-primary: #0c1137;
  --color-secondary: #00dbff;
  --color-third: #0061ff;

  --color-light: #fff;
  
}
*{
  margin: 0px;
  padding: 0px;
  font-family: var(--font-montserrat);
  background-color: var(--color-primary);
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul li a{
  text-decoration: none;
}

div img {
  display: block;
  width: 65%;
  padding: 10px 15px;
}


.flex-container{
  display: flex;
  max-width: 1400px;
  margin: auto;
  width: 100%;
  min-width: 320px;
  padding: 10px 15px;
}

div img {
    min-width: 620px;
    display: block;
    width: 65%;
    padding: 15px;
}

header{
  background-color: var(--color-primary);
  height: 100px;
  display: flex;
  align-items: center;
  color: var(--color-light);
}

header .list-items{
  display: flex;
  max-width: 260px;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}

.list-items li a{
  color: var(--color-light);
}

header .menu{
  justify-content: space-between;
}

.apresentacao{
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.apresentacao .texto-apresentacao{
  min-height: 260px;  
}

.texto-apresentacao h1{
  color: var(--color-secondary);
  font-family: var(--font-montserrat);
  margin-bottom: 10px;
  max-width: 15;
  width: 100%;
}


.texto-apresentacao {
  color: var(--color-light);
  text-align: center;
  margin-top: 0%;
  margin-bottom: 10px;
}

.texto-apresentacao p {
  margin-bottom: 10px;
  width: 100%;
  color: var(--color-light);
  text-align: justify;
}

.btn{
  background-color: var(--color-light);
  color: var(--color-primary);
  text-align: center;
  border-radius: 30px;
  width: 220px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#quem-somos{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#quem-somos h2{
  font-family: var(--font-montserrat);
  color: var(--color-secondary);
  display: flex;
  margin-bottom: 20px;
}

#quem-somos h2::before{
  content: "";
  height: 40px;
  width: 5px;
  margin-right: 15px;
  background-color: var(--color-third);
  position: relative;
}

#quem-somos p{
  margin-bottom: 10px;
  width: 90%;
  color: var(--color-light);
  text-align: justify;
  padding: 5px;
}

#quem-somos img{
  min-width: 650px;
  display: block;
  width: 65%;
  padding: 15px;
}

#saiba-mais {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#saiba-mais h2{
  font-family: var(--font-montserrat);
  color: var(--color-secondary);
  display: flex;
  margin-bottom: 20px;
}

#saiba-mais h2::before{
  content: "";
  height: 40px;
  width: 5px;
  margin-right: 15px;
  background-color: var(--color-third);
  position: relative;
}

#saiba-mais p{
  margin-bottom: 10px;
  width: 90%;
  color: var(--color-light);
  text-align: justify;
  padding: 5px;
}

#saiba-mais img{
  display: block;
  width: 200%;
  padding: 15px 75px;
  height: 200%;
  max-width: 150px;
  max-height: 550px;
}

.container-externo{
  background-color: var(--color-primary);
  width: 100%;
}

#produtos{
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}

#produtos h2{
  color: var(--color-light);
  font-family: var(--font-montserrat);
  margin-bottom: 20px;
}

.list-produtos{
  display: flex;
  justify-content: space-between;
}

.list-produtos .item-produtos{
  text-align: center;
}

.item-produtos a{
  width: 220px;
  background-color: var(--color-light);
  border-radius: 30px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
  line-height: 40px;
  padding: 5px 20px;
  color: var(--color-primary);
  font-family: var(--font-montserrat);
  text-decoration: none;
}

.item-produtos p{
  font-family: var(--font-montserrat);
  color: var(--color-light);
  margin-top: 20px;
}

.item-produtos img{
  min-width: 250px;
  display: block;
  width: 25px;
  height: 200px;
  padding: 15px 85px;
}

footer{
  background-color: var(--color-primary);
  height: 70px;
  display: flex;
  align-items: center;
}

footer .footer{
  justify-content: space-between;
  color: var(--color-light);
  font-family: var(--font-montserrat);
  padding: 15px 75px;
}

footer p {
  margin-bottom: 5px;
  width: 100%;
  color: var(--color-light);
  text-align: justify;
  padding: 5px 60px;
}




/*mobile*/

@media(max-width: 992px){
  .flex-container{
      flex-direction: column;
  }

  .apresentacao{
      flex-direction: column-reverse;
  }

  .apresentacao .texto-apresentacao{ 
      width: 100%; 
  }

  #quem-somos{
      flex-direction: column-reverse;
  }

  #quem-somos img{
      min-width: 320px;
      margin: auto;
  }

  .list-produtos{
      flex-direction: column;
  }

  .item-produtos img{
      width: 50px;
      margin: 5px;
  }

  .list-contato{
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
  }

  .list-contato .item-contato{
      max-width: 90%;
      margin: auto;
      width: 100%;
      margin-bottom: 20px;
  }
}