body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--color-primary);
}

body h1 span {
  color: var(--color-secundary);
}


/* nav */
h1{
  margin: 20px 0;
}

#div-logo{
  margin-block: 10px;
}

ul{
  display: flex;
  flex-direction: row;
}
li{
  margin-inline: 30px ;
}

#link-nav{
  display: flex;
  align-items: center;
}

/* home */
.home{
  width: 100%;
  background: #000;
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .home {
    flex-wrap: wrap;
  }
}

#home-text{
  margin: 5%;
}

#home-text button{
  width: 60%;
  margin: 20px 0;
  border: 10px solid var(--color-primary) ;
  background: var(--color-primary);
  color:white;
  border-radius: 5px;
}

#home-img img{
  position: relative;
  width: 100%;
  /*object-fit: cover;*/
  height: 110% ;
}
#home-img{
  align-items: center;
  margin-inline: 3%;
}

/* produtos */
#produtos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-light);
  color: #000;
}
.titulo{
  margin-top: 20%;
  display: flex;
}
#produtos #span{
  align-self: center;
  width: 30px;
  height: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: var(--color-primary);
}

#cards{
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap:inherit;
  /*margin-inline: 2% ;*/
}
@media (max-width: 900px) {
  #cards {
    flex-direction: column;
    width: 90%;
  }
}

.product{
  display: flex;
  flex-direction: column;
  background: #eee;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 340px;
  align-items:flex-start;
  justify-content: flex-start;
  padding: 3%;
}
@media (max-width: 900px) {
  .product {
    height: 240px;
  }
}

.product h3{
  margin-block: 10px;
  height: 50px;
}

#explicacao{
  display: flex;
  flex-direction: row;
  background: #000;
  color: var(--color-light);
  padding-inline: 5%;
  margin-block: 10%;
}
#explicacao-img img{
  position: relative;
  height: 120%;
  width: 160%;
  bottom: 10%;
}
@media (max-width: 900px) {
  #explicacao{
    display: flex;
    background-image: url(./../imgs/workstation-design.png);
    background-size: cover;
    background-position: center center;
  }
  #explicacao-img{ 
    display: none;
  }
  #explicacao-text{ 
    margin: 30px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
  }
}
#explicacao-img{ 
 margin-inline: 5%;
 margin-right: 15%;
 width: 60%;
}
#explicacao-text{ 
  align-self: center;
}

#sobre-nos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  margin-block: 5%;
}
#sobre-nos h1{
  margin: 0 0 10px;
  font-size: 42px;
}

/* contatos */
#contatos{
  display: flex;
  justify-content: space-evenly;
  background: var(--color-primary);
}
@media (max-width: 900px) {
  #contatos {
    align-items: center;
    background: url(./../imgs/workstation-contact.png);
    background-size: 100%;
  }
  #contatos img {
    display: none;
  } 
}
form{
  align-self: center;
  padding: 3% 2%;
  width: 70%;
  background: #d9d9d9;
  margin: 30px;
  border-radius: 5px;
  color: #000;
  font-weight: 700;
}
 form input[type="submit"]{
  color: #fff;
  font-weight: 700;
  background: var(--color-primary);
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 1%;
 }

input[type="text"],input[type="email"] {
  border: 0px solid #fff;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding-left: 15px ;
  margin: 1% 0 5% 0;
}

/* footer */

footer{
  margin-top: 2%;
  background: #000;
  width: 100%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 6% 2% 6% ;
  align-items: center;
  justify-content: space-evenly;
}
.footer-body{
  width: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content:space-between ;
  gap: 2rem;
  margin: 0 0 100px 0;
}

#block-product p{
 margin-top: 4%;
 margin-bottom: 4%;
}

#h3{
  margin-bottom: 15% ;
}

#div-contact{
  border-bottom: 2px solid #171717;
  margin: 4% 0 4%;
  padding: 5% 0 3%;
}
#div-contact p{
  margin-bottom: 2%;
}
address{
  border-bottom: 2px solid #171717;
  margin: 1% 0 2%;
  padding:0 0 4%;
}

#div-icon{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5%;
}

#copyright{
  color: #777;
  font-size: small;
}